name: Tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-slim

    steps:
    - uses: actions/checkout@v5
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: rrbutani/use-nix-shell-action@v1
    - uses: Swatinem/rust-cache@v2
    - name: Build
      run: cargo test
