name: Rust

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - name: Maximize build space
      uses: easimon/maximize-build-space@master
      with:
        root-reserve-mb: 512
        swap-size-mb: 1024
        remove-dotnet: 'true'
    - uses: actions/checkout@v5
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: rrbutani/use-nix-shell-action@v1
    - uses: Swatinem/rust-cache@v2
    - name: Run tests
      run: cargo test

  clippy:
    name: Clippy
    runs-on: ubuntu-latest
    timeout-minutes: 30

    steps:
    - uses: actions/checkout@v5
    - uses: DeterminateSystems/nix-installer-action@main
    - uses: rrbutani/use-nix-shell-action@v1
    - uses: Swatinem/rust-cache@v2
    - name: Run tests
      run: cargo clippy -- -D warnings

  format:
    name: Format
    runs-on: ubuntu-latest
    timeout-minutes: 30
    steps:
      - name: Checkout sources
        uses: actions/checkout@v4
      - name: Install stable toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: rustfmt
      - name: Run cargo fmt
        run: cargo fmt --all -- --check